<h1>Lista de alumnos</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Email</th>
  </tr>

<% @alumnos.each do |alumno| %>
  <tr>
    <td><%=h alumno.nombre %></td>
    <td><%=h alumno.email %></td>
    <td><%= link_to 'Show', alumno %></td>
    <td><%= link_to 'Edit', edit_alumno_path(alumno) %></td>
    <td><%= link_to 'Destroy', alumno, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

