<p>
  <b>Dia:</b>
  <%=h @horario.dia %>
</p>

<p>
  <b>Hora:</b>
  <%= @horario.hora %>
</p>

<p>
  <b>Hora Final:</b>
  <%=h @horario.hora_f %>

</p>


<%= link_to 'Edit', edit_horario_path(@horario) %> |
<%= link_to 'Back', horarios_path %>
