<h1>Lista de matriculas</h1>
<table>
  <tr>
    <th>Alumno</th>
    <th>Curso</th>
  </tr>

<% @matriculas.each do |matricula| %>
  <tr>
    <td><%=h Alumno.find(matricula.alumno_id).nombre %></td>
    <td><%=h Curso.find(matricula.curso_id).nombre %></td>
    <td><%= link_to 'Show', matricula %></td>
    <td><%= link_to 'Edit', edit_matricula_path(matricula) %></td>

    <td><%= link_to 'Destroy', matricula, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


