<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
         "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'horario' %>
  <%= javascript_include_tag :defaults %>
  
</head>
<body>
	<div id="columns">
	<div id="side">
                <%= link_to 'Matriculas',   :controller => 'matriculas' %><br />
                <%= link_to 'Nueva Matricula', :controller => 'alumnos', :action => 'new' %><br />
                <%= link_to 'Alumnos', :controller => 'alumnos'%><br />
                <%= link_to 'Cursos', :controller => 'cursos'%><br />
                <%= link_to 'Horarios', :controller => 'horarios'  %><br />

	</div>
               <div id="main">
                 <p style="color: red"><%= flash[:notice] %></p>
                  <%= yield :layout%>
                    
               </div>
	</div>


</body>
</html>

